
.btn {
  padding: 7px 29px;
  vertical-align: middle;
  box-sizing: border-box;
  font-family: Titillium Web,sans-serif;
  letter-spacing: 2px;
  cursor: pointer;
  font-weight: 900;
  border-width: 0px;
  min-width: 115px;
}

.btn-small {
  font-size: 11px;
  color: black;
}

.btn-small:hover {
  color:white;
}

.btn-main {
  color: white;
  background-color: #288ac6;
  box-shadow: #468fbb 0px 0px 1px 1px;
}

.btn-main:hover {
  box-shadow: #288ac6 0px 0px 1px 2px;
}

.btn:active, .btn-main:active {
  padding: 8px 29px 6px;
}

.red {
  color: black;
  background-color: #b22222;
}

.red:hover {
  box-shadow: #b22222 0px 0px 1px 2px;
}

.green {
  color: black;
  background-color: #47b047;
}

.green:hover {
  box-shadow: #49bf67 0px 0px 1px 2px;
}

.btn:focus {
  outline: none;
}
