
.btn {
  padding: 7px 29px;
  vertical-align: middle;
  box-sizing: border-box;
  font-family: Titillium Web,sans-serif;
  letter-spacing: 2px;
  cursor: pointer;
  font-weight: 900;
  border-width: 0px;
  min-width: 115px;
}

.btn-main {
  color: white;
  background-color: #288ac6;
  box-shadow: #468fbb 0px 0px 1px 1px;
}

.btn-main:hover {
  box-shadow: #288ac6 0px 0px 1px 2px;
}

.btn:active, .btn-main:active {
  color: white;
  padding: 8px 29px 6px;
}

.btn.red {
  background-color: #b22222;
}

.btn.green {
  background-color: green;
}


.btn:focus {
  outline: none;
}
