* {
  color: white;
}

.form-box{
  width: 300px;
  margin: 0 auto;
}

button, input {
  color: black;
  width: 300px;
  padding: 7px;
  box-sizing: border-box;
}

button {
  border-radius: 10px;
  border-color: #2ece2e;
  background-color: #2ece2e;
}

button:active {
  padding-top: 8px;
}

button b{
  color: inherit;
}

input {
  border: 1px solid black;
}

input:focus {
  background-color: peachpuff;
}

.form-input {
    margin-bottom: 10px;
}

.form-input-err {
  color: red;
  font-size: 15px;
  margin-left: 8px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.form-msg-valid {
  text-align: center;
  color: #9cff9c;
}
.form-msg-err {
  text-align: center;
  color: red;
}
